# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*$py.class

# Игнорировать workspace.xml
workspace.xml

# Environment and IDE specific files
.env
.idea/
.vscode/

# Local data
*.db

# Logs
*.log

# Temporary files
*.tmp

# Configuration files
instance/

# Dependency directories
venv/
env/

# Compiled C extensions
*.so

# Output of coverage.py
htmlcov/

# Flask configuration
*.cfg
