<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Привет, меня зовут {{ name }}</h1>
    <img src="{{ url_for('static', filename='image/photo.jpg') }}" alt="druz" width="300">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
    <p>Все права защищены &copy;</p>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
</body>
</html>
