{% extends 'base.html' %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <p>Latomorum eos nam instructior vivamus inimicus fabulas adipiscing graeci finibus aenean ludus iusto
                sem</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <p>Mssa nostrum prodesset nullam definitionem magnis velit saperet verear vis accumsan quot curabitur
                vocibus</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <p>Metus quem fusce expetendis signiferumque reprehendunt offendit nam euismod signiferumque natum sea
                detracto</p>
        </div>
    </div>
{% endblock %}