{% extends 'base_shop.html' %}

{% block title %}
    Аксессуары
{% endblock %}

{% block content %}
    <main>
        <section id="belts">
            <h2>Ремни</h2>
            <p>Egestas detraxit viris reprehendunt habeo penatibus scelerisque voluptatibus.</p>
        </section>
        <section id="bags">
            <h2>Сумки</h2>
            <p>No nam ponderum vis massa graece melius.</p>
        </section>
        <section id="watches">
            <h2>Часы</h2>
            <p>Gloriatur diam rhoncus menandri expetendis nostra doctus vero.</p>
        </section>
    </main>
{% endblock %}
