{% extends 'base_shop.html' %}

{% block title %}
    Обувь
{% endblock %}

{% block content %}
    <main>
        <section id="men_shoes">
            <h2>Мужская обувь</h2>
            <p>Egestas detraxit viris reprehendunt habeo penatibus scelerisque voluptatibus.</p>
        </section>
        <section id="women_shoes">
            <h2>Женская обувь</h2>
            <p>No nam ponderum vis massa graece melius.</p>
        </section>
        <section id="kids_shoes">
            <h2>Детская обувь</h2>
            <p>Gloriatur diam rhoncus menandri expetendis nostra doctus vero.</p>
        </section>
    </main>
{% endblock %}
